<app-breadcrumb></app-breadcrumb>
<div class="product-details container">
  <div class="row">
    <div class="col-lg-6">
      <app-product-item [product]="product$"></app-product-item>
    </div>
    <div class="product-description col-lg-6">
      <h4>{{ product$?.title }}</h4>
      <p>{{ product$?.description }}</p>
      <p>Category: {{ product$?.category }}</p>
      <app-rating [rating]="product$?.likes"></app-rating>

    </div>
  </div>
  <!-- <button type="button" class="open-modal btn btn-primary" (click)="openModal()">Add Product</button> -->
</div>
